{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row main">
        <div class="main-login main-center">
            <h4>Confirmation</h4>
            <form class="" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="box">
                    <div class="info">
                        {% if message %}
                            <p>{{ message }}</p>
                            <button type="submit" class="btn btn-success" value="Yes" name="confirm">Yes</button>
                            <button type="submit" class="btn btn-primary" value="No" name="confirm">No</button>
                        {% endif %}
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock content %}