{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row main">
        <div class="main-login main-center">
            <h5>Update The Employee</h5>
            <form class="" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {% if employee %}

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input disabled type="text" class="form-control" name="username" id="name"
                                       value="{{ employee.user.username }}"
                                       placeholder="Enter your First Name"/>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Designation</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="designation" id="name"
                                   value="{{ employee.designation }}"/>
                        </div>
                        {% if form.designation.errors %}
                            {{ form.designation.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Department</label>
                    <div class="cols-sm-10">
                        <select id="user_department" name="department" class="form-control">
                            <option class="theater" value="">Select</option>
                            {% for department in departments %}
                                <option class="theater"
                                        value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Manager</label>
                    <div class="cols-sm-10">
                        <select id="user_manager" name="manager" class="form-control">
                            <option class="theater" value="">Select</option>
                            {% for manager in managers %}
                                <option class="theater" value="{{ manager.id }}">{{ manager.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="form-group ">
                    <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button"
                           value="Register">
                </div>

            </form>
        </div>
    </div>
{% endblock content %}