{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4>Employee List</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
            <th>Username</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Manager</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>

            <tbody>

            {% if employees %}
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.user.username }}</td>
                        <td>{{ employee.designation }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.manager }}</td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <a href="{% url 'employee-edit' employee.id %}">
                                    <button class="btn btn-primary btn-xs" data-title="Edit"
                                            data-toggle="modal"
                                            data-target="#edit"><span
                                            class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <a href="{% url 'employee-delete' employee.id %}">
                                    <button class="btn btn-danger btn-xs" data-title="Delete"
                                            data-toggle="modal"
                                            data-target="#delete"><span
                                            class="glyphicon glyphicon-trash"></span></button>
                                </a>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>

        </table>

    </div>


{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            {% for error in  messages %}
                $.notify({
                    message: '{{ error }}'
                }, {
                    type: 'danger'
                });
            {% endfor %}
        })
    </script>
{% endblock %}