{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Google Fonts -->
    <link href="{% static "css/passion-one.css" %}" rel='stylesheet' type='text/css'>
    <link href="{% static "css/oxygen.css" %}" rel='stylesheet' type='text/css'>

    <title>Employee Registration</title>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h5>Complete The Employee Registration</h5>
            <form class="" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {% if user %}

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input disabled type="text" class="form-control" name="username" id="name"
                                       value="{{ user }}"
                                       placeholder="Enter your First Name"/>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Designation</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="designation" id="name"
                                   placeholder="Enter your Designation"/>
                        </div>
                        {% if form.designation.errors %}
                            {{ form.designation.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Department</label>
                    <div class="cols-sm-10">
                        <select id="user_department" name="department" class="form-control">
                            <option class="theater" value="">Select</option>
                            {% for department in departments %}
                                <option class="theater"
                                        value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>
                        {% if form.department.errors %}
                            {{ form.department.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Manager</label>
                    <div class="cols-sm-10">
                        <select id="user_manager" name="manager" class="form-control">
                            <option class="theater" value="">Select</option>
                            {% for manager in managers %}
                                <option class="theater" value="{{ manager.id }}">{{ manager.user.username }}</option>
                            {% endfor %}
                        </select>
                        {% if form.manager.errors %}
                            {{ form.manager.errors }}
                        {% endif %}
                    </div>
                </div>


                <div class="form-group ">
                    <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button"
                           value="Register">
                </div>

            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "js/jquery.min.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap-notify.min.js" %}"></script>
<script type="text/javascript">

    $(function () {
        {% for error in  messages %}
            $.notify({
                message: '{{ error }}'
            }, {
                type: 'danger'
            });
        {% endfor %}
    })
</script>
</body>
</html>