{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4>User List</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>

            <tbody>

            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <a href="{% url "user-edit" user.id %}">
                                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                            data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <a href="{% url "user-delete" user.id %}">
                                    <button class="btn btn-danger btn-xs" data-title="Delete"
                                            data-toggle="modal"
                                            data-target="#delete"><span
                                            class="glyphicon glyphicon-trash"></span></button>
                                </a>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>

        </table>
    </div>

{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            {% for error in  messages %}
                $.notify({
                    message: '{{ error }}'
                }, {
                    type: 'danger'
                });
            {% endfor %}
        })
    </script>
{% endblock %}