{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Google Fonts -->
    <link href="{% static "css/passion-one.css" %}" rel='stylesheet' type='text/css'>
    <link href="{% static "css/oxygen.css" %}" rel='stylesheet' type='text/css'>

    <title>User Register</title>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h5>Register For New Account</h5>
            <form class="" method="post" enctype="multipart/form-data" data-toggle="validator">

                {% csrf_token %}

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">First Name<sup>*</sup></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="first_name" id="name"
                                   placeholder="Enter your First Name" required data-error="Field is required"/>
                        </div>
                        <div class="help-block with-errors"></div>
                        {% if form.first_name.errors %}
                            {{ form.first_name.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Last Name<sup>*</sup></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="last_name" id="name"
                                   placeholder="Enter your Last Name" required data-error="Field is required"/>
                        </div>
                        <div class="help-block with-errors"></div>
                        {% if form.last_name.errors %}
                            {{ form.last_name.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email Id<sup>*</sup></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
                                   data-error="Bruh, that email address is invalid" required>
                        </div>
                        <div class="help-block with-errors"></div>
                        {% if form.email.errors %}
                            {{ form.email.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username<sup>*</sup></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="Enter your Username" required data-error="Field is required"/>
                        </div>
                        <div class="help-block with-errors"></div>
                        {% if form.username.errors %}
                            {{ form.username.errors }}
                        {% endif %}
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password<sup>*</sup></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" data-minlength="6" name="password" class="form-control"
                                   id="inputPassword" placeholder="Password" required
                                   data-match-error="Minimum 6 characters">
                        </div>
                        <div class="help-block with-errors"></div>
                        {% if form.password.errors %}
                            {{ form.password.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password<sup>*</sup></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" name="retype_password" class="form-control" id="inputPasswordConfirm"
                                   data-match="#inputPassword" data-match-error="Whoops, these don't match"
                                   placeholder="Confirm" required>
                        </div>
                        <div class="help-block with-errors"></div>
                        {% if form.retype_password.errors %}
                            {{ form.retype_password.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" id="button"
                           class="btn btn-primary btn-lg btn-block login-button"
                           value="Register">
                </div>

            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "js/jquery.min.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/validator.min.js" %}"></script>
</body>
</html>