{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Google Fonts -->
    <link href="{% static "css/passion-one.css" %}" rel='stylesheet' type='text/css'>
    <link href="{% static "css/oxygen.css" %}" rel='stylesheet' type='text/css'>

    <title>User Login</title>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h5>Login To Project Management</h5>
            <form class="" method="post" enctype="multipart/form-data" data-toggle="validator">

                {% csrf_token %}

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="name"
                                   placeholder="Enter your Username"/>
                        </div>
                        {% if form.username.errors %}
                            {{ form.username.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="name"
                                   placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button"
                           value="Login">
                </div>

            </form>
            <div class="form-group text-center" ><a href="{% url 'user-register' %}" style="color: white;">Create account</a></div>

        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "js/jquery.min.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

<script src="{% static "js/bootstrap-notify.min.js" %}"></script>
<script type="text/javascript">

    $(function () {
        {% for error in  messages %}
            $.notify({
                message: '{{ error }}'
            }, {
                type: 'danger'
            });
        {% endfor %}
    })
</script>
</body>
</html>