{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row main">
        <div class="main-login main-center">
            <h5>Update your Account</h5>
            <form class="" method="post" enctype="multipart/form-data" data-toggle="validator">

                {% csrf_token %}
                {% if user %}
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">First Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="first_name" id="name"
                                       value="{{ user.first_name }}"/>
                            </div>
                            {% if form.first_name.errors %}
                                {{ form.first_name.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Last Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="last_name" id="name"
                                       value="{{ user.last_name }}"/>
                            </div>
                            {% if form.last_name.errors %}
                                {{ form.last_name.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Email Id</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                   aria-hidden="true"></i></span>
                                <input type="email" name="email" class="form-control" id="inputEmail"
                                       placeholder="Email"
                                       data-error="Bruh, that email address is invalid" required
                                       value="{{ user.email }}">
                            </div>
                            <div class="help-block with-errors"></div>
                            {% if form.email.errors %}
                                {{ form.email.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input disabled type="text" class="form-control" name="username" id="username"
                                       value="{{ user.username }}"
                                       placeholder="{{ user.username }}"/>
                            </div>
                            {% if form.username.errors %}
                                {{ form.username.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Old Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="old_password" id="password"
                                       placeholder="Enter your old Password"/>
                            </div>
                            {% if form.old_password.errors %}
                                {{ form.old_password.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">New Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                                <input type="password" data-minlength="6" name="new_password" class="form-control"
                                       id="inputPassword" required
                                       data-match-error="Minimum 6 characters" placeholder="Enter your New Password">
                            </div>
                            <div class="help-block with-errors"></div>
                            {% if form.new_password.errors %}
                                {{ form.new_password.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm New Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                                <input type="password" name="retype_new_password" class="form-control" id="inputPasswordConfirm"
                                   data-match="#inputPassword" data-match-error="Whoops, these don't match"
                                   placeholder="Confirm your New Password" required>
                            </div>
                            <div class="help-block with-errors"></div>
                            {% if form.retype_new_password.errors %}
                                {{ form.retype_new_password.errors }}
                            {% endif %}
                        </div>
                    </div>


                    <div class="form-group ">
                        <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button"
                               value="Register">
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script type="text/javascript">

        $(function () {
            {% for error in  messages %}
                $.notify({
                    message: '{{ error }}'
                }, {
                    type: 'danger'
                });
            {% endfor %}
        })
    </script>
{% endblock %}