{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4>Project Details</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">

            {% if project %}
                <tbody>
                <tr>
                    <td>Project Name</td>
                    <td>{{ project.name }}</td>

                </tr>
                <tr>
                    <td>Project Manager</td>
                    <td>{{ project.manager }}</td>

                </tr>
                <tr>
                    <td>Project Description</td>
                    <td>{{ project.description }}</td>

                </tr>
                <tr>
                    <td>Project Members</td>
                    <td>
                        <table>
                            {% if project.members %}
                                {% for employee in project.members.all %}
                                    <tr>
                                        <td>{{ employee }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No Employees</td>
                                </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>
                </tbody>
            {% endif %}
        </table>
        <a href="{% url 'project-list' %}" style="float: right;">
            <button class="btn btn-primary">Back</button>
        </a>

    </div>


{% endblock content %}