{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4 style="margin-bottom: 15px;">Edit Project</h4>
    <div>
        <form method="post">
            {% csrf_token %}
            {% if project %}
                <div class="col-md-12" style="padding-left: 0;margin-bottom: 15px">
                    <div class="col-md-6" style="padding-left: 0;">
                        <label for="name" class="control-label">Project Name</label>
                    </div>
                    <div class="col-md-6" style="padding-left: 0;">
                        <input type="text" class="form-control" name="name" id="name"
                               value="{{ project.name }}"/>

                        {% if form.name.errors %}
                            {{ form.name.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0;margin-bottom: 15px">
                    <div class="col-md-6" style="padding-left: 0;">
                        <label for="name" class="control-label">Project Description</label>
                    </div>
                    <div class="col-md-6" style="padding-left: 0;">
                        <input type="text" class="form-control" name="description" id="name"
                               value="{{ project.description }}"/>
                        {% if form.description.errors %}
                            {{ form.description.errors }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0;margin-bottom: 15px">
                    <div class="col-md-6" style="padding-left: 0;">
                        <label for="name" class="control-label">Project Manager</label>
                    </div>
                    <div class="col-md-6" style="padding-left: 0;">
                        <select name="manager" class="form-control">
                            <option value="">Select</option>
                            {% for employee in project_employees %}
                                <option value="{{ employee.id }}">{{ employee.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left: 0;margin-bottom: 15px">
                    <div class="col-md-6" style="padding-left: 0;">
                        <label for="name" class="control-label">Project Members</label>
                    </div>
                    <div class="col-md-6" style="padding-left: 0;">
                        <select id="example-getting-started" name="members" class="form-control"
                                multiple="multiple">
                            {% for employee in project_employees %}
                                <option selected value="{{ employee.id }}">{{ employee.user.username }}</option>
                            {% endfor %}
                            {% for employee in other_employees %}
                                <option value="{{ employee.id }}">{{ employee.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left: 0;margin-top: 15px;">
                    <input class="btn btn-success" type="submit" value="Edit Project">
                </div>
            {% endif %}
        </form>
    </div>


{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example-getting-started').multiselect();
        });
    </script>
{% endblock %}