{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4>Project List</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
            <th>Project Name</th>
            <th>Project Description</th>
            <th>Project Manager</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>

            <tbody>

            {% if projects %}
                {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'project-view' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.manager }}</td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <a href="{% url 'project-edit' project.id %}">
                                    <button class="btn btn-primary btn-xs" data-title="Edit"
                                            data-toggle="modal"
                                            data-target="#edit"><span
                                            class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <a href="{% url 'project-delete' project.id %}">
                                    <button class="btn btn-danger btn-xs" data-title="Delete"
                                            data-toggle="modal"
                                            data-target="#delete"><span
                                            class="glyphicon glyphicon-trash"></span></button>
                                </a>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>

        </table>
        <a href="{% url 'project-add' %}">
            <button class="btn btn-success">Add Project</button>
        </a>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">

        $(function () {
            {% for error in  messages %}
                $.notify({
                    message: '{{ error }}'
                }, {
                    type: 'danger'
                });
            {% endfor %}
        })
    </script>
{% endblock %}