{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row main">
        <div class="main-login main-center">
            <h4>!Authorisation Error</h4>
            <div class="box">
                <div class="info">
                    <p>{{ error_message }}</p>
                    {% if url_value %}
                        <a href="{{ url_value }}">
                            <button type="submit" class="btn btn-success" name="confirm">Go Back</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}