{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Website CSS style -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- Google Fonts -->
    <link href="{% static "css/passion-one.css" %}" rel='stylesheet' type='text/css'>
    <link href="{% static "css/oxygen.css" %}" rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static "css/bootstrap-multiselect.css" %}" type="text/css"/>
    <title>Title</title>
</head>
<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="{% url 'project-list' %}">
                    Project Management
                </a>
            </li>
            <li>
                <a href="{% url 'user-list' %}">User Management</a>
            </li>
            <li>
                <a href="{% url 'employee-list' %}">Employee Management</a>
            </li>
            <li>
                <a href="{% url 'dept-list' %}">Department Managemet</a>
            </li>
            <li>
                <a href="{% url 'project-list' %}">Project Management</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <nav class="navbar navbar-default">
        <div class="navbar-brand dropdown" style="float: right;">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    data-toggle="dropdown">{{ request.user.username }}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'user-logout' %}">logout</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-content-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<script src="{% static "js/jquery.min.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/style.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-multiselect.js" %}"></script>
<script src="{% static "js/validator.min.js" %}"></script>
<script src="{% static "js/bootstrap-notify.min.js" %}"></script>
{% block scripts %}

{% endblock %}
<!-- /#wrapper -->
</body>
</html>