{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4>Department List</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
            <th>Department</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>

            <tbody>

            {% if departments %}
                {% for dept in departments %}
                    <tr>
                        <td><a href="{% url 'dept-view' dept.id %}">{{ dept.name }}</a></td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <a href="{% url 'dept-edit' dept.id %}">
                                    <button class="btn btn-primary btn-xs" data-title="Edit"
                                            data-toggle="modal"
                                            data-target="#edit"><span
                                            class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <a href="{% url 'dept-delete' dept.id %}">
                                    <button class="btn btn-danger btn-xs" data-title="Delete"
                                            data-toggle="modal"
                                            data-target="#delete"><span
                                            class="glyphicon glyphicon-trash"></span></button>
                                </a>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>

        </table>
        <a href="{% url 'dept-add' %}">
            <button class="btn btn-success">Add Department</button>
        </a>

    </div>


{% endblock content %}
{% block scripts %}
    <script type="text/javascript">

    $(function () {
        {% for error in  messages %}
            $.notify({
                message: '{{ error }}'
            }, {
                type: 'danger'
            });
        {% endfor %}
    })
</script>
{% endblock %}