{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4>Department Details</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">


            <tbody>
            <tr>
                {% if department %}
                    <td>Department</td>
                    <td>{{ department }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Employees</td>
                <td>
                    <table>
                        {% if employees %}
                            {% for employee in employees %}
                                <tr>
                                    <td>{{ employee }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No Employees</td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>


            </tbody>

        </table>
        <a href="{% url 'dept-list' %}" style="float: right;">
            <button class="btn btn-primary">Back</button>
        </a>

    </div>


{% endblock content %}