{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4>Edit Department</h4>
    <div>
        <form method="post">
            {% csrf_token %}
            {% if department %}
                <div class="col-md-12" style="padding-left: 0;">
                    <div class="col-md-6" style="padding-left: 0;">
                        <label for="name" class="control-label">Department Name</label>
                    </div>
                    <div class="col-md-6" style="padding-left: 0;">
                        <input type="text" class="form-control" name="name" id="name"
                               value="{{ department.name }}"/>
                        {% if form.name.errors %}
                            {{ form.name.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12" style="padding-left: 0;margin-top: 15px;">
                    <input class="btn btn-success" type="submit" value="Edit Department">
                </div>
            {% endif %}
        </form>
    </div>


{% endblock content %}