{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h4 style="margin-bottom: 15px;">Add Department</h4>
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="col-md-12" style="padding-left: 0;">
                <div class="col-md-6" style="padding-left: 0;">
                    <label for="name" class="control-label">Department Name</label>
                </div>
                <div class="col-md-6" style="padding-left: 0;">
                    <input type="text" class="form-control" name="name" id="name"
                           placeholder="Enter a New Department"/>
                    {% if form.name.errors %}
                        {{ form.name.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12" style="padding-left: 0;margin-top: 15px;">
                <input class="btn btn-success" type="submit" value="Add Department">
            </div>

        </form>
    </div>


{% endblock content %}